extends ../../src/core/main

block variables
    - var title = 'Событие'

block content
    main.article
        .grid
            .grid__items
                +gridItems([4,20])
            .grid__content
                .container.article__container
                    a(href="#").article__back.
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="16px" height="16px"
                        viewBox="0 0 1024 1024" >
                        <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/>
                        <path fill="currentColor" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/>
                        </svg>
                        Назад
                    .article__title.ui-h2= title
                    .article__img
                        img(src="/images/content/new/img-1.webp" alt=title title=title)
                    .article__content
                        .content
                            h3 Lorem12
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .article__gallery
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/320/240/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/240/320/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/500/200/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/200/600/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/100/400/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/150/240/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/360/360/all" alt="lorem")
                        a(href="/images/content/index-interior/img-1.webp" data-fancybox='gallery').article__photo
                            img(src="https://loremflickr.com/500/400/all" alt="lorem")








