.menu-catalog
    .menu-catalog__wrap
        .menu-catalog__top
            .menu-catalog__logo
                img(src="/images/content/logo.svg" alt="lorem")
            button(type='button' data-event='click.closeMenuCatalog').menu-catalog__close
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" y="6" width="45" height="2" transform="rotate(45 7 6)" fill="/catalog/DFDFDF"/>
                <rect x="6" y="38" width="45" height="2" transform="rotate(-45 6 38)" fill="/catalog/DFDFDF"/>
                </svg>
        .menu-catalog__section
            button(type='button' data-event='click.closeMenuCatalog').menu-catalog__back
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.2618 8.81309L13.5368 14.5381L19.2618 20.2756L17.4993 22.0381L9.99927 14.5381L17.4993 7.03809L19.2618 8.81309Z" fill="white"/>
                </svg>
            a(href="/catalog/").menu-catalog__section-link Меню
        .menu-catalog__list
            -
                var subitems = [
                    'Топпинги',
                    'Холодные закуски',
                    'Закуски',
                    'Соусы',
                    'Салаты',
                    'Супы',
                    'Паста',
                ];
            .menu-catalog__item
                .menu-catalog__link.active
                    a(href="/catalog/") Авторская кухня
                    button(type='button' data-event='click.nextMenuCatalog').menu-catalog__arr
                        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.0692 10.1172L14.5562 15.6301L9.03121 10.1172L7.33398 11.8144L14.5562 19.0366L21.7784 11.8144L20.0692 10.1172Z" fill="/catalog/454545"/>
                        </svg>
                .menu-catalog__submenu
                    .menu-catalog__wrap
                        .menu-catalog__top
                            .menu-catalog__logo
                                img(src="/images/content/logo.svg" alt="lorem")
                            button(type='button' data-event='click.closeMenuCatalog').menu-catalog__close
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="7" y="6" width="45" height="2" transform="rotate(45 7 6)" fill="/catalog/DFDFDF"/>
                                <rect x="6" y="38" width="45" height="2" transform="rotate(-45 6 38)" fill="/catalog/DFDFDF"/>
                                </svg>
                        .menu-catalog__section
                            button(type='button' data-event='click.backMenuCatalog').menu-catalog__back
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.2618 8.81309L13.5368 14.5381L19.2618 20.2756L17.4993 22.0381L9.99927 14.5381L17.4993 7.03809L19.2618 8.81309Z" fill="white"/>
                                </svg>
                            a(href="/catalog/").menu-catalog__section-link Авторская кухня
                        .menu-catalog__list
                            .menu-catalog__subitem
                                a(href="/catalog/").menu-catalog__sublink.active Завтраки
                            each i in subitems
                                .menu-catalog__subitem
                                    a(href="/catalog/").menu-catalog__sublink= i
                        .menu-catalog__bottom
                            .menu-catalog__contacts
                                a(href=GLOBALS.tel.href).menu-catalog__contact= GLOBALS.tel.val
                                .menu-catalog__contact!=GLOBALS.workTime
                            .menu-catalog__socials
                                a(href="/catalog/").menu-catalog__social Вконтакте
                                a(href="/catalog/").menu-catalog__social Телеграм
            .menu-catalog__item
                .menu-catalog__link
                    a(href="/catalog/") Дымное меню
                    button(type='button' data-event='click.nextMenuCatalog').menu-catalog__arr
                        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.0692 10.1172L14.5562 15.6301L9.03121 10.1172L7.33398 11.8144L14.5562 19.0366L21.7784 11.8144L20.0692 10.1172Z" fill="/catalog/454545"/>
                        </svg>
                .menu-catalog__submenu
                    .menu-catalog__wrap
                        .menu-catalog__top
                            .menu-catalog__logo
                                img(src="/images/content/logo.svg" alt="lorem")
                            button(type='button' data-event='click.closeMenuCatalog').menu-catalog__close
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="7" y="6" width="45" height="2" transform="rotate(45 7 6)" fill="/catalog/DFDFDF"/>
                                <rect x="6" y="38" width="45" height="2" transform="rotate(-45 6 38)" fill="/catalog/DFDFDF"/>
                                </svg>
                        .menu-catalog__section
                            button(type='button' data-event='click.backMenuCatalog').menu-catalog__back
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.2618 8.81309L13.5368 14.5381L19.2618 20.2756L17.4993 22.0381L9.99927 14.5381L17.4993 7.03809L19.2618 8.81309Z" fill="white"/>
                                </svg>
                            a(href="/catalog/").menu-catalog__section-link Дымное меню
                        .menu-catalog__list
                            each i in subitems
                                .menu-catalog__subitem
                                    a(href="/catalog/").menu-catalog__sublink= i
                        .menu-catalog__bottom
                            .menu-catalog__contacts
                                a(href=GLOBALS.tel.href).menu-catalog__contact= GLOBALS.tel.val
                                .menu-catalog__contact!=GLOBALS.workTime
                            .menu-catalog__socials
                                a(href="/catalog/").menu-catalog__social Вконтакте
                                a(href="/catalog/").menu-catalog__social Телеграм
            .menu-catalog__item
                .menu-catalog__link
                    a(href="/catalog/") Барная карта
                    button(type='button' data-event='click.nextMenuCatalog').menu-catalog__arr
                        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.0692 10.1172L14.5562 15.6301L9.03121 10.1172L7.33398 11.8144L14.5562 19.0366L21.7784 11.8144L20.0692 10.1172Z" fill="/catalog/454545"/>
                        </svg>
                .menu-catalog__submenu
                    .menu-catalog__wrap
                        .menu-catalog__top
                            .menu-catalog__logo
                                img(src="/images/content/logo.svg" alt="lorem")
                            button(type='button' data-event='click.closeMenuCatalog').menu-catalog__close
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="7" y="6" width="45" height="2" transform="rotate(45 7 6)" fill="/catalog/DFDFDF"/>
                                <rect x="6" y="38" width="45" height="2" transform="rotate(-45 6 38)" fill="/catalog/DFDFDF"/>
                                </svg>
                        .menu-catalog__section
                            button(type='button' data-event='click.backMenuCatalog').menu-catalog__back
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.2618 8.81309L13.5368 14.5381L19.2618 20.2756L17.4993 22.0381L9.99927 14.5381L17.4993 7.03809L19.2618 8.81309Z" fill="white"/>
                                </svg>
                            a(href="/catalog/").menu-catalog__section-link Барная карта
                        .menu-catalog__list
                            each i in subitems
                                .menu-catalog__subitem
                                    a(href="/catalog/").menu-catalog__sublink= i
                        .menu-catalog__bottom
                            .menu-catalog__contacts
                                a(href=GLOBALS.tel.href).menu-catalog__contact= GLOBALS.tel.val
                                .menu-catalog__contact!=GLOBALS.workTime
                            .menu-catalog__socials
                                a(href="/catalog/").menu-catalog__social Вконтакте
                                a(href="/catalog/").menu-catalog__social Телеграм
        .menu-catalog__bottom
            .menu-catalog__contacts
                a(href=GLOBALS.tel.href).menu-catalog__contact= GLOBALS.tel.val
                .menu-catalog__contact!=GLOBALS.workTime
            .menu-catalog__socials
                a(href="/catalog/").menu-catalog__social Вконтакте
                a(href="/catalog/").menu-catalog__social Телеграм